h1 {
    font-family: 'Quicksand', sans-serif;
    color:white;
}
.centralizado{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.cabecalho{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color: rgb(38, 131, 95);
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex-grow: 1;
}
footer{
    background-color:rgb(38, 131, 95);
    margin: 0;
    border: 0;
    padding: 0;
}
.background-color{
    background-color: #e3f7f3;
}
.rodape{
    color: white;
}
h2, h3{
    font-family: 'Quicksand', sans-serif;
    margin: 10px;
    color:rgb(6, 61, 40);
}

p{
    margin:10px;
    text-size-adjust: 20px;
    text-align: justify;
}

.containerImagem{
    display: flex;
}

